.page{
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    transition: all 2s;
    padding: 10px 0;
    margin: 5px;
    display: none;
    width: 35px;
    font-family: Pokemon;
    font-size: 10px;
}

.page:hover {
    background-color: #ffa09f;
}
.current-page {
    background-color: #ffdedd;
    cursor: default;
    pointer-events: none;    
    border-radius: 30%;
}
.last-first-page {
    background-color: gray;
    cursor: default;
    pointer-events: none;
}
.page-container {
    text-align: center;
}
.show-page {
    display: inline-block;
}
.go-to-page-input {
    height: 25px;
    width: 30px;
    margin: 5px;
    text-align: center;
}