<div class="forms">
      <form autocomplete="on" novalidate [formGroup]="reactiveForm">
        <div class="container-input">
          <div class="ng-autocomplete">
            <ng-autocomplete #ngAutoCompleteStatic
                             [data]="pokemonList"
                             formControlName="name"
                             [initialValue]=""
                             [placeHolder]="placeholder"
                             [searchKeyword]="keyword"
                             historyIdentifier="countriesReactiveList"
                             [historyHeading]="historyHeading"
                             historyListMaxNumber="3"
                             notFoundText="Not found"
                             [itemTemplate]="itemTemplateStatic"
                             [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
  
            <ng-template #itemTemplateStatic let-item>
              <a [innerHTML]="item"></a>
            </ng-template>
  
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

          </div>
          
        </div>
        <button class="btn" type="submit" [disabled]="reactiveForm.invalid"  [routerLink]="['/pokemon', revertName(reactiveForm.value.name)]">
          <img class="image-icon" src="/assets/search.png"></button>
      </form>
  </div>