<div class="pokemon-profile-container">
<div class="pokemon-name-container">
    <div>
        Gastly
    </div>
    <div>
        ゴース
    </div>
</div>



<div class="pokemon-detail-container">
    <div class="pokemon-sprite-container">
        <img _ngcontent-qbt-c4="" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/92.png">
    </div>
    <div>
        <table style="width:100%">
            <tr>
                <th colspan="2">Pokédex data</th>
            </tr>
            <tr>
                <td>Pokemon National No.</td>
                <td>#001 </td>
            </tr>
        </table>
    </div>
    <div>
            <table style="width:100%">
            <tr>
                <th colspan="2">Pokédex data</th>
            </tr>
            <tr>
                <td>Pokemon National No.</td>
                <td>#001 </td>
            </tr>
            <tr>
                <td> Type</td>
                <td> Fire Flying </td>
            </tr>
            <tr>
                <td> Species </td>
                <td> Flame Pokemon </td>
            </tr>
            <tr>
                <td> Weight </td>
                <td> 12 kg </td>
            </tr>
            <tr>
                <td> Height </td>
                <td> 111 cm</td>
            </tr>
            <tr>
                <td> Color </td>
                <td> Brown </td>
            </tr>
            <tr>
                <td> Habitat </td>
                <td> Grassland </td>
            </tr>
            <tr>
                <td> Shape </td>
                <td> Quadruped </td>
            </tr>
            <tr>
                <td> Gender Rate </td>
                <td> 50.0% Male | 50.0% Female </td>
            </tr>
            <tr>
                <td> Growth Rate </td>
                <td> Medium Slow </td>
            </tr>
            <tr>
                <td> Height </td>
                <td> 111 cm</td>
            </tr>
        </table>
    </div>
</div>