<div class="pokemon-container">
  <h1 class="pokemon-list-header">
    POKEDEX
  </h1>
  <div *ngFor="let pokemon of pokemonList.results" class="pokemon-name" [routerLink]="['/pokemon', pokemon.name ]">
    <div class="pokemon-detail">{{ pokemon.name | formatName }}</div>
    <app-pokemon-sprite-and-type [pokemonName]="pokemon.name" *ngIf="pokemon.name"></app-pokemon-sprite-and-type>
    <div>ID: {{ getIdByUrl(pokemon.url) }}</div>
  </div>
</div>

<app-pagination [limitPerPage]="limit" [totalItem]="totalPokemon"></app-pagination>