.item-container {
    display: inline-block;
    width: 150px;
    text-align: center;
    height: 150px;
    overflow: hidden;
}

.pokemon-all-item-container {
    text-align: center;
    padding: 40px 0px 0px 0px;
}