
.show-hide-item-details {
    background-color: #ffa09f;
    border-color: #ffa09f;
    padding: 5px;
    transition: all 1s;
}

.show-hide-item-details:hover {
    background-color: white;
    border-color: black;
}
.pokeItem-container {
    vertical-align: middle;
}
.item-description {
    background-color: white;
    z-index: 99;
    position: relative;
    top: -60px;
    font-size: 15px;
    border: 1px solid black;
    transition: .2s;
    padding: 10px;
}

.item-description:hover {
    cursor: pointer;
    transition: all 0.1s;
}

.item-description label {
    cursor: pointer;
}
.close {
    position: absolute;
    top: -5px;
    right: 2px;
    color: red;
    transition: all 1s;
    font-size: 20px;
}

.close:hover {
    color: blue;
}

button {
    cursor: pointer;
}
