
<div class="container-pokemon-details" *ngIf="isPokemonExist">
  <div class="left-right-side">
  <div class="pokemon-name">
    <label>{{ pokemon.name | formatName }}</label> <br>
    <label>{{ japaneseName }}</label> 
  </div>
  <div class="pokemon-sprite">
    <img [attr.src]="getImg()">
  </div>
  <div class="pokemon-sprite">
    <label> ID : </label>
    <label> {{ pokemon.id }} </label>
  </div>
  <div class="pokemon-type" *ngIf="pokemon.types">
    <div [class]="types.type.name + ' type'" *ngFor="let types of pokemon.types" [routerLink]="['/pokemon-type', types.type.name]">
      <label class="clickable">{{ types.type.name | formatName }}</label>
    </div> <br>
    <label> {{ genusName }} </label>
  </div>
  <div>
      <label> Weight : </label>
      <label> {{ pokemon.weight * .1 | number : '1.1' }} kg </label>
    </div>
    <div>
      <label> Height : </label>
      <label> {{ pokemon.height * 10 | number : '1.2-2' }} cm </label>
    </div>


  <div *ngIf="pokemon.stats" class="pokemon-stats display-inline-block">
    Stats: 
      <div *ngFor="let stats of pokemon.stats">
        <div class="stats-container">
            {{ stats.stat.name | formatName }} : {{ stats.base_stat }}
        </div>
        <div class="stats-container">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" [style.width]="computeForPercentage(stats.base_stat)">
            {{ stats.base_stat }}
            </div>
        </div> 
      </div>
      </div>
    </div>
    

  <div class="pokemon-details display-inline-block">
    Pokemon Details
  <div *ngIf="pokemonSpecies.color">
      <label> Color : </label>
      <label> {{ pokemonSpecies.color.name | formatName }} </label>
  </div>
  <div *ngIf="pokemonSpecies.habitat">
      <label> Habitat : </label>
      <label> {{ pokemonSpecies.habitat.name | formatName }} </label>
  </div>
  <div *ngIf="pokemonSpecies.shape">
      <label> Shape : </label>
      <label> {{ pokemonSpecies.shape.name | formatName }} </label>
  </div>
  <div *ngIf="pokemonSpecies.egg_groups">
      <label> Egg Groups : </label>
      <label *ngFor="let egg_groups of pokemonSpecies.egg_groups"> 
        {{ egg_groups.name | formatName }} </label>
  </div>
  <div *ngIf="pokemonSpecies.gender_rate">
      <label> Gender Rate : </label>
      <label [innerHtml]="getGenderRate(pokemonSpecies.gender_rate)">
    </label>
  </div>
  <div *ngIf="pokemonSpecies.growth_rate">
      <label> Growth Rate : </label>
      <label> {{ pokemonSpecies.growth_rate.name | formatName }} </label>
  </div>
  </div>
  </div>
  <div class="left-right-side">
  <div class="pokemon-abilities" *ngIf="pokemon.abilities">    
      <div><b> Abilities: </b></div>       
      <div *ngFor="let abilities of pokemon.abilities">
            <app-pokemon-abilities-details [abilityUrl]="abilities.ability.url"></app-pokemon-abilities-details>
      </div>
  </div>
</div>
  <div *ngIf="pokemonSpecies.evolution_chain">
  <app-pokemon-evolution-chain [speciesUrl]="checkUrl(pokemonSpecies.evolution_chain.url)"></app-pokemon-evolution-chain>
  </div>

  <img src="assets/pokeball.gif" *ngIf="!check" class="loading-ball">
</div>

<div class="container-pokemon-details not-exist" *ngIf="!isPokemonExist">
  This pokemon doesn't exist.
  <div class="goBack" (click)="goBack()"> GO BACK</div>
</div>

