<div class="pokemon-profile-container" *ngIf="pokemon">
<app-pokemon-prev-next [pokemonName]="pokemon.name" *ngIf="pokemon.name"></app-pokemon-prev-next><br>
<div class="pokemon-name-container">
    <div *ngIf="pokemon.name">
        {{ pokemon.name | formatName }}
    </div>
    <div>
        {{ japaneseName }}
    </div>
</div>

<div class="pokemon-detail-container">
    <div class="pokemon-sprite-container">
        <slideshow [height]="'300px'"
        [minHeight]="'300px'"
        [autoPlay]="true"
        [showArrows]="true"
        [showDots]="true"
        [fullscreen]="false"
        [dotColor]="'black'"
        [imageUrls]="imageSources"
        [captionBackground]="'rgba(5, 5, 5, .5)'"
        [lazyLoad]="imageSources?.length > 1"
        [autoPlayWaitForLazyLoad]="true">
        </slideshow>
    </div>
    <div *ngIf="pokemon.stats" class="pokemon-stats">
        Stats: 
          <div *ngFor="let stats of pokemon.stats">
              <div class="stats-container-name">
                  {{ stats.stat.name | formatName }} : {{ stats.base_stat }}
              </div>
            <div class="stats-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                aria-valuemin="0" aria-valuemax="255" [style.width]="computeForPercentage(stats.base_stat)">
                </div>
            </div> 
          </div>
          </div>
        </div>

    <div class="pokemon-data-container">
            <table style="width:100%">
            <tr>
                <th colspan="2">Pokédex data</th>
            </tr>
            <tr>
                <td>Pokemon National No.</td>
                <td> # {{ pokemon.id | number: '3.0-0' }} </td>
            </tr>
            <tr>
                <td> Type</td>
                <td> <label *ngFor="let types of pokemon.types" 
                  [routerLink]="['/pokemon-type', types.type.name]" 
                  [ngClass]="['clickable', 'type', types.type.name]">
                  {{ types.type.name | formatName }}</label> </td>
            </tr>
            <tr>
                <td> Species Genus </td>
                <td> {{ genusName }} </td>
            </tr>
            <tr>
                <td> Weight </td>
                <td> {{ pokemon.weight * .1 | number : '1.1' }} kg </td>
            </tr>
            <tr>
                <td> Height </td>
                <td> {{ pokemon.height * 10 | number : '1.1' }} cm </td>
            </tr>
            <tr *ngIf="pokemonSpecies.color">
                <td> Color </td>
                <td> {{ pokemonSpecies.color.name | formatName }} </td>
            </tr>
            <tr *ngIf="pokemonSpecies.habitat">
                <td> Habitat </td>
                <td> {{ pokemonSpecies.habitat.name | formatName }} </td>
            </tr>
            <tr *ngIf="pokemonSpecies.shape">
                <td> Shape </td>
                <td> {{ pokemonSpecies.shape.name | formatName }} </td>
            </tr>
            <tr>
                <td> Gender Rate </td>
                <td label [innerHtml]="getGenderRate(pokemonSpecies.gender_rate)"></td>
            </tr>
        </table>
    </div>
</div>

<div class="container-pokemon-details" *ngIf="isPokemonExist">
  <div class="left-right-side">
  <div class="pokemon-abilities" *ngIf="pokemon.abilities">    
      <div><b> Abilities: </b></div>       
      <div *ngFor="let abilities of pokemon.abilities">
            <app-pokemon-abilities-details [abilityUrl]="abilities.ability.url"></app-pokemon-abilities-details>
      </div>
  </div>
</div>
  <div *ngIf="pokemonSpecies.evolution_chain">
  <app-pokemon-evolution-chain [speciesUrl]="checkUrl(pokemonSpecies.evolution_chain.url)"></app-pokemon-evolution-chain>
  </div>

  <img src="assets/pokeball.gif" *ngIf="!check" class="loading-ball">
</div>

<div class="container-pokemon-details not-exist" *ngIf="!isPokemonExist">
  This pokemon doesn't exist.
  <div class="goBack" (click)="goBack()"> GO BACK</div>
</div>

